.galleryMain{
    display: grid;
    grid-template-rows: 10% 90%;
    min-height: 200px;
}
.gallerySearchBar{
    grid-row: 1 / 1;
    min-height: 30px;
}

.gallery{
    grid-row: 2 / 2;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    column-gap: 10px;
    row-gap: 100px;
}
