.galleryMain{
    display: grid;
    grid-template-rows: 5% 90%;
}
.gallerySearchBar{
    grid-row: 1 / 1;
    width: min-content;
    align-items: center;
    justify-items: center;
}
/*
.gallerySearchInput {
    align-self: center;
    justify-self: center;
}
*/


.gallery{
    grid-row: 2 / 2;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    column-gap: 10px;
    row-gap: 100px;
}